<!DOCTYPE html>
<html>
<head>
	<title>EKYAM CREATIOIN</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
	<header>
		<div class="main">
			<div class="logo">
				<img src="../static/images/logoEkyam.png">
		</div>
		<ul>
				<li class="active"><a href="home">Home</a></li>
				<li><a href="quiz">Quiz</a></li>
				<li><a href="pomo">Pomodoro</a></li>	
		</ul>
		</div>
			 <div class="title">
			<h1>EKYAM CREATIOIN</h1>
			</div>	
		</div>
		
	</header>
</body>
</html>