<!DOCTYPE HTML>
<html>
<head>
<title>Ekyam pomodoro</title>
<link rel="stylesheet" href="../static/css/pomo.css">
<link rel="stylesheet" type="text/css" href="../static/css/stylesindex.css">
</head>
<body style=background-color:#ef5c4a;>
<header style="position: absolute;top: 0px;width: 100%;">
<div>
<ul>
  <li><a href="home">Home</a></li>
<li><a href="quiz">Quiz</a></li>
<li><a href="pomo">Pomodoro</a></li>
</ul>
</div>
</header>
<img src="../static/images/tomato.jpeg"/>
<p id="demo"></p>
   <center> <img id="button" src="../static/images/pomoicon.png" onClick="refreshPage()"/></center>
</body>
<script src="../static/css/pomo.js"></script>
</html>